.box {
  width: 500px;
  max-height: 500px;
  border: 1px solid #a22;
}
.line-holder {
  height: 100%;
}
.statement {
  float: right;
  height: 50px;
  width: 300px;
  margin: 25px;
  border: 1px solid #000;
}
.container {
  display: table;
}
.row {
  display: table-row;
}
.col {
  display: table-cell;
}
